.carrossel__titulo {
    color: var(--laranja);
    background-color:rgb(221, 213, 231);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}
.swiper-slide img {
    width: 132px;
    height: 220px;

}
.swiper-button-prev,
.swiper-button-next {
display: none;
}
.swiper-pagination{
position: initial;
margin: 1em 0; 

}
.card__descrição{
display: flex;
justify-content:space-between;
margin: 1em;
}
.card__botões{
display: flex;
justify-content:space-between;
}
.botões{
display:flex;;
}
.card{
background: var(--branco);
box-shadow: 0px 4px 4px rgba(0, 0, 0, );
border-radius: 10px;
margin: 1em;
}
.descrição__titulo{
color: var(--laranja);
font-weight: 700
}
.descrição__titulo-ganer{
color: rgb(14, 14, 75);
font-size: 18px;
font-weight: 700;
margin: 0.5em 0;
}
.botões__item{
margin: 0 0.5em;
}
.botões__ancora{
background-color: var(--laranja);
padding: 1em 2.2em;
margin:0.30em 1.50em;
color: var(--branco);
font-weight: 700;
text-decoration: none;
}

@media screen and (min-width:1024px) {
.carrossel__titulo{
font-size: 25px;
}
.swiper-pagination{
margin:2em 0 3em 0 ;
}
.swiper{
width: 60%;
}
.swiper-slide img {
width: 210px;
height: 330px;
}
.swiper-button-prev,
.swiper-button-next{
display: block;
top: 55%;  
}
.card{
width:50% ;
margin:2em auto;


}
}


@media screen and (min-width: 1728px){
.carrossel__container{
    display: flex;
    margin: 0 5vw 3em 5vw;
    align-items: center;
}
.swiper-pagination{
    margin: 1em 0;
}
.swiper{
    width: 49%;
}
.swiper-slide img {
    width: 310px;
   height: 500px; 
}
.descrição__titulo{
    font-size: 32px;
}    
.descrição__titulo-ganer{
    font-size: 20px;
}
.descrição__titulo{
    font-size: 17px;
}
.card{
    width:38em;
    margin-left: 2em;
}
}