.contato{
    background-color: var(--cor-de-fundo);
     padding: 1em;
    }
    .contato__titulo,.contato__texto{
        background:linear-gradient(97.54deg, #002f52 35.49%, #326589 165165.37%);
        -webkit-background-clip:text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
    .contato__titulo{
        font-size: 18px;
        font-weight: 500;
    
       
    }
    .contato__texto{
        font-weight: 300;
        margin: 0.7em 0;
    }
    .contato__email{
        padding: 1em;
        border: 1px solid var(--cor-de-caracter);
        border-radius: 24px;
        width: 90%;
        color: black;
    }
    .contato__email::placeholder{
        font-family: var(--fonte-principal);
        color: rgb(48, 48, 145);
        background: url(../img/carta.png) no-repeat;
        padding-left: 2em;
    }
    
    
    @media screen and (min-width: 1024px) {
    .contato{
        justify-content: center;
        align-items: center;
    }
    .contato__email{
        width: 30%;
        padding: 1em 2.2em;
        margin:0.30em 1.50em;
        }
    
    .contato__descrição{
        margin: 1em;
        width: 30%;
    }
        
    .contato__titulo{
        font-size: 24px;
     }
    
     }
     
     
     @media screen and (min-width: 1728px){
        .contato{
            padding: 3em 39vw;
        }
        .contato__email{
            width: 50%
        }
     }
     